/* * {outline: 1px solid yellow;} */

body {
    font-family: 'Roboto', Tahoma, Verdana, sans-serif;
    background-color: rgb(4, 75, 16);
    color: rgba(245, 245, 245, 1);
    font-size: 1rem;
}

a {
    color: grey;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Mirza";
}

h4 {
    text-align: center;
}

li {
    list-style-image: url('../img/paw-small.png');
}
