.info {
    display: grid;
    grid: repeat(12, 1fr);
}

.info>div {
    padding: 0 1rem;
    text-align: justify;
}

.info>div>h3 {
    text-align: center;
    height: 3rem;
}

.mission {
    grid-column: 1/8;
}

.contact {
    grid-column: 9/12;
}

@media (max-width: 420px) {
    .mission, .contact {
        grid-column: 1/12;
    }
    .info>div {
        padding: 0 0.5rem;
        text-align: center;
    }
    .info>div>h3 {
        max-height: 1rem;
    }
}
